:host {
  display: block;
}

.stores-tab-wrapper {
  min-height: 200px;
}

:host ::ng-deep .p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.75rem;
}

:host ::ng-deep .p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.5rem 0.75rem;
}
